/*
Description: Adds support for languages written in a Right To Left (RTL) direction.
It's easy, just a matter of overwriting all the horizontal positioning attributes
of your CSS stylesheet in a separate stylesheet file named rtl.css.
See http://codex.wordpress.org/Right_to_Left_Language_Support
*/
body {
	direction: rtl;
	unicode-bidi: embed;
}
ul,
ol {
	margin: 0 15px 24px 0;
}
li > ul,
li > ol {
	margin: 0 20px 0 0;
}
.fa {
	margin-right: 0;
	margin-left: 5px;
}
.service .service-read-more i.fa {
	margin-right: 7px;
	margin-left: 0px
}
.flexslider,
.owl-carousel .owl-wrapper-outer,
.home-product .owl-buttons,
#sb-wrapper {
	direction: ltr;
}
.flex-viewport {
	direction: ltr;
}
caption,
th,
td {
	text-align: right;
}
.widget li > ol,
.widget li > ul {
	margin-left: 0;
	margin-right: 15px;
}

/***************	Float Left		*********************/

.header-right,
.header-cart,
.woocommerce ul.cart_list li a.remove,
.woocommerce-page ul.cart_list li a.remove,
.alignright,
.right,
.woocommerce .woocommerce-ordering,
.woocommerce-page .woocommerce-ordering,
.topbar-link {
	float: left;
}
/***************	Float Right		********************/

.header-left,
.home .box-category-heading,
.box-category-heading,
.woocommerce-product-search span.customSelect,
.header-search input[type="text"],
.header-search input[type="search"],
.alignleft,
.left,
.category-toolbar .gridlist-toggle,
.site-footer .newsletter tr {
	float: right;
}
.woocommerce .widget_price_filter .price_slider_amount .button,
.woocommerce-page .widget_price_filter .price_slider_amount .button,
.header_login,
.header-menu-links,
.header-search {
	float: right;
}
/***************	Header	********************/
li.menu-item-has-children:nth-last-child(-n+2) .sub-container, li.hiden_menu:nth-last-child(-n+2) .sub-container {
    right: auto !important;
    left: 0 !important;
}
.header-search .woocommerce-product-search button[type="submit"] { float:left;}
.header-search .woocommerce-product-search .search-field,.header-search .search-form .search-field { float:right;}
.cart-qty{right: auto;left: -10px;}
.header-search.active .header-toggle{left: 4%; right:auto;}
.mega-menu ul .sub li.mega-hdr li a:before{content: "<"; left: auto; right: -20px;}
.sub ul.sub-menu ,.sub ul.children { padding-right: 20px; padding-left:0;}
.close-menu {
	float: left!important;
}
.mobile-menu ul li {
	text-align: right !important;
}
.mobile-menu {
left:0; right:auto;
	transform: translateX(-110%)!important;
	-webkit-transform: translateX(-110%)!important;
	-o-transform: translateX(-110%)!important;
	-ms-transform: translateX(-110%)!important;
}
.hitarea {
	float: left !important;
	text-align: left !important;
}
.toggled-on .mega-menu ul li,
.toggled-on .mega-menu ul li .sub-container.non-mega li,
.toggled-on .mega-menu ul li .sub li.mega-hdr {
	text-align: right !important;
}
.close-btn {
	left: 15px;
	right: auto;
}
.header-search .woocommerce-product-search input[type="submit"],
.header-search .search-form #searchsubmit {
	left: 0;
	right: auto;
}
.header-search input[type="text"],
.header-search input[type="search"] {
	padding: 5px 0 5px 35px;
	text-align: right;
}
.header-cart .togg .widget.widget_shopping_cart {
	left: 0;
	right: auto;
}
.woocommerce-product-search span.customSelect:after {
	left: 0;
	right: auto;
}
.mega-menu ul li .sub li {
	text-align: right;
}
.service-list.service-1 .content {
	border: none;
}

.tmpmela-menu-label:before {
	left: -10px;
	right: auto;
}
.alignright,
.right {
	float: right;
}
.video .tp-parallax-wrap {

    left: 0 !important;
    right: auto !important;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 100%;}
.video .tp-loop-wrap ,.video .tp-mask-wrap{ position: relative !important;}
/*************** blog ***************/
.posts-content .owl-item .container-inner,
.cat-outer-block{ text-align:right;}
.single .entry-main-content,
.attachment .entry-main-content,
.entry-meta .meta-inner {
	margin-left: 10px;
	margin-right: 0;
}
.entry-meta span {
	padding: 0 0 0 10px;
}
.author-info {
	text-align: right;
}
.post-navigation a.prev-post {
	float: right;
}
.post-navigation a.next-post {
	float: left;
}
.comments-area {
	text-align: right;
}
.comment-author .avatar {
	right: 0;
	left: auto;
}
.comment-author,
.comment-awaiting-moderation,
.comment-metadata {
	padding-right: 62px;
	padding-left: 0;
}
.blog-icon-outer {
	left: auto;
	right: 0;
}
.single-post .entry-content-other,
.single .entry-main-content {
	text-align: right;
}
.edit-link {
	display: inline-block;
}
#secondary .owl-theme .owl-buttons div.owl-prev {
	left: 0;
	right: auto;
}
#secondary .owl-theme .owl-buttons div.owl-next {
	left: 26px;
	right: auto;
}
.entry-thumbnail {
	float: right;
	margin-right: 0px;
	margin-left:5%;
}

.author-info .author-avatar{float: right;}

/*************** blog Search	********************/

.widget_search #searchform .search-field,
#primary-sidebar .widget_product_search .search-field,
.widget_search #searchform #searchsubmit,
#primary-sidebar .widget_product_search input[type="submit"] {
	float: right;
}
.widget_search #searchform #searchsubmit,
#primary-sidebar .widget_product_search input[type="submit"] {
	left: 0;
	right: auto;
}
/***************	Content	********************/

.primary-sidebar .widget ul li {
	text-align: right;
}
.bx-controls {
	left: 0;
	right: auto;
}
.bx-controls-direction a.bx-prev {
	left: 0;
	right: auto;
}
.bx-controls-direction a.bx-next {
	left: 26px;
	right: auto;
}
.singleproduct-sidebar .product-detail-wrapper {
	text-align: right;
}
#woo-small-products .image-block {
	float: right;
	margin: 0 0 10px 10px;
}
.singleproduct-sidebar .star-rating {
	float: right;
}
/***************		Woocommerce		********************/
.woocommerce .entry-summary .yith-wcwl-add-to-wishlist a.add_to_wishlist, .woocommerce .entry-summary .yith-wcwl-wishlistexistsbrowse.show > a, .woocommerce .entry-summary .yith-wcwl-wishlistaddedbrowse.show a, .woocommerce .entry-summary .add_to_wishlist, .woocommerce .entry-summary a.compare.button{margin:20px 0 20px 10px;}
.summary.entry-summary .yith-wcwl-add-to-wishlist{ margin:0 0 0 10px !important;}
.summary.entry-summary .yith-wcwl-add-to-wishlist,
.summary.entry-summary .compare.button{ float:right;}
.woocommerce #content div.product form.cart .variations td.label,
.woocommerce div.product form.cart .variations td.label,
.woocommerce-page #content div.product form.cart .variations td.label,
.woocommerce-page div.product form.cart .variations td.label {
	padding-right: 0;
	padding-left: 1em;
}
.woocommerce-MyAccount-navigation ul li {
	text-align: right;
}
.woocommerce-MyAccount-navigation {
	margin: 0 0 0 36px;
	float: right;
}
.woocommerce-MyAccount-navigation ul li a:before {
	float: left;
	text-align: left;
	margin: 0 0.53em 0 0;
}
.woocommerce ul.products.list .container-inner,
.woocommerce-page ul.products.list .container-inner,
.woocommerce ul.cart_list li.mini_cart_item,
.woocommerce-page ul.cart_list li.mini_cart_item {
	text-align: right;
}
.category-toolbar .gridlist-toggle a,
.gridlist-toggle a,
.woocommerce .woocommerce-result-count,
.woocommerce-page .woocommerce-result-count {
	float: right;
}
.gridlist-toggle a#grid,
.gridlist-toggle a#list {
	margin-left: 8px;
	margin-right: 0px;
}

.price_slider_amount .price_label {
	float: right;
}
.list .yith-wcwl-add-to-wishlist .ajax-loading {
	right: 9px;
}
.woocommerce ul.products.list .container-inner .image-block,
.woocommerce-page ul.products.list .container-inner .image-block {
	float: right;
	margin: 0 0 0 25px;
}
.woocommerce.single-product #content div.product .entry-summary .product_title {
	padding-left: 54px;
	padding-right: 0;
}
.woocommerce li.product .star-rating{ float:right;}
.woocommerce-tabs ul.tabs{float: right;}
.woocommerce-tabs .panel {	text-align: right; }
.woocommerce-tabs ul.tabs li a:hover:after, .woocommerce-tabs ul.tabs li.active a:after{left: -2px; right: auto;}
.woocommerce div.product div.images,.woocommerce-page div.product div.images {float: right;	margin: 4% 0 4.5% 5%;}
.woocommerce div.product div.summary, .woocommerce-page div.product div.summary{ padding: 4% 5% 5.5% 0; text-align: right;}
.woocommerce .single-product-sidebar div.product div.images {  margin: 5% 0 5% 5%;}
.middle-container.single-border{background-position:912px 0;}
.woocommerce-page div.product .woocommerce-tabs .middle-container{ background-position:1279px 0;}
.singleproduct-sidebar {
	float: left;
	margin-left: 0;
	margin-right: 30px;
}
.woocommerce .woocommerce-product-rating .star-rating,
.woocommerce-page .woocommerce-product-rating .star-rating,
.wpb_wl_summary .star-rating {
	float: right;
	margin:3px 0 0 6px;
}
.woocommerce div.product form.cart .button,
.woocommerce-page div.product form.cart .button {
	float: right;
	margin: 0 10px 0 0;
}
.woocommerce div.product form.cart div.quantity,
.woocommerce-page div.product form.cart div.quantity {
	float: right;
	margin: 0 0 0 4px;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
	float: right;
}
.woocommerce #reviews #comments ol.commentlist li img.avatar,
.woocommerce-page #reviews #comments ol.commentlist li img.avatar {
	left: auto;
	right: 0;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text,
.woocommerce-page #reviews #comments ol.commentlist li .comment-text {
	margin: 0 50px 0 0;
}
.woocommerce .woocommerce-error:before,
.woocommerce .woocommerce-info:before,
.woocommerce .woocommerce-message:before,
.woocommerce-page .woocommerce-error:before,
.woocommerce-page .woocommerce-info:before,
.woocommerce-page .woocommerce-message:before {
	right: 1em;
	left: auto;
}
.woocommerce .woocommerce-error .button,
.woocommerce .woocommerce-info .button,
.woocommerce .woocommerce-message .button,
.woocommerce-page .woocommerce-error .button,
.woocommerce-page .woocommerce-info .button,
.woocommerce-page .woocommerce-message .button {
	float: left;
}
.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message,
.woocommerce-page .woocommerce-error,
.woocommerce-page .woocommerce-info,
.woocommerce-page .woocommerce-message {
	padding: 1em 3.5em 1em 1em !important;
	clear: both;
}
.woocommerce .addresses .title h3,
.woocommerce-page .addresses .title h3 {
	float: right;
}
.woocommerce .addresses .title .edit,
.woocommerce-page .addresses .title .edit {
	float: left;
}
.countbox .timebox {
	margin: 0 0 0 3px;
}
.product-categories .hitarea,
.widget_pages .hitarea,
.widget_nav_menu .hitarea,
.widget_categories .hitarea,
.product-categories .expandable-hitarea:before,
.widget_pages .expandable-hitarea:before,
.widget_nav_menu .expandable-hitarea:before,
.widget_categories .expandable-hitarea:before {
	left: 0;
	right: auto;
	text-align: left;
}
.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img,
.woocommerce-page ul.cart_list li img,
.woocommerce-page ul.product_list_widget li img {
	float: right;
	margin-left: 10px;
	margin-right: 0;
}
.woocommerce .widget_layered_nav ul li a,
.woocommerce .widget_layered_nav ul li span,
.woocommerce-page .widget_layered_nav ul li a,
.woocommerce-page .widget_layered_nav ul li span {
	float: right;
}
.product-cms-tab-block .style5 #tab ul li {
	margin: 0 0 0 -1px;
}
.select2-container .select2-choice,
.col2-set {
	text-align: right;
}
.tmpmela_product_nav_buttons {
	left: 0;
	right: auto;
}
.product-button-hover {
	left: auto;
	right: 0;
}
.product-detail-wrapper,
.list .product-detail-wrapper {
	text-align: right;
}
.price_label,
.woocommerce ul.products li.product .price,
.woocommerce-page ul.products li.product .price {
	float: right;
	margin: 0;
}
/***************	Quick View		********************/

.yith_magnifier_zoom_magnifier {
	left: 0 !important;
	right: auto !important;
}
#yith-quick-view-close {
	left: 5px;
	right: auto;
}
#yith-quick-view-content div.images {
	float: right;
}
#yith-quick-view-content .onsale {
	left: auto;
	right: 23px;
	top: 15px;
}
/***************	Shortcode	********************/
.team-posts-content .staff-image{float: right;}
.team-posts-content.posts-content .container .container-inner .staff-content{ text-align:right;}
.static-wrapper{ text-align:right;}
.progress_detail {
	right: 10px;
	left: auto;
}
.message {
	text-align: right;
	padding: 15px 80px 15px 15px;
}
.warning-message,
.message-message,
.error-message,
.success-message {
	background-position: right 3px;
}
.style-2 .accordion-container {
	padding: 0 40px 0 4px;
	text-align: right;
}
.accordion,
.toggle {
	text-align: right;
}
.faqs-content.style-1 .toogle_div span.faq_title:after {
	right: 6px;
	left: auto;
}
.single-faq .tog,
.single-faq .tour li a {
	padding: 11px 30px 9px 9px;
}
.button_content_inner {
	float: right;
}
.button.left i {
	margin-right: 10px;
	margin-left: 5px;
}
.button.right i {
	margin-left: 0;
	margin-right: 10px;
}
.service .style-2 .icon {
	margin: 0 0 0 10px;
}
.style-2 .icon-image,
.style-2 .content {
	text-align: right;
}
.sitemap ul {
	padding-right: 15px;
	padding-left: 0;
}
.entry-content blockquote:before{right: 0; left:auto; transform: rotateY(180deg); -webkit-transform: rotateY(180deg); -o-transform: rotateY(180deg); -ms-transform: rotateY(180deg);}
.entry-content blockquote{padding: 0 80px 0 10px;
border-left: 4px solid #000000; border-right:0;} 
/************** Newsletter *************/
.tnp-field {  float: right; }
.tmpmela-newsletter-form .tnp-field-email:before{right: 15px; left:auto;}
/***************	Footer	********************/
.footer-widget{ float:right; padding-left:30px; padding-right:0;}
.footer-widget:last-child {  padding-left: 0;}
.widgets-footercontact .fa {
	float: right;
}
.footer-menu-links li:last-child a {
	padding-left: 0;
}
.footer-menu-links li:first-child a {
	padding-left: 8px;
}
#to_top {
	right: auto !important;
	left: 30px;
}
/********  service cms *********/

.service-cms .service-list:first-child {
	padding-left: 20px;
	padding-right: 0;
}
.service-cms .service-list:last-child {
	padding-right: 20px;
	padding-left: 0;
}
.service-cms .content {
	text-align: right;
}
.cms-left {
	text-align: left;
}
.service-list {
	float: right;
	margin-left: 70px;
	margin-right: 0;
}
.service-1 .service-content,
.service-list .content {
	text-align: right;
}
.service-content .icon-image {
	float: right;
}
.service-list .content {
	padding-left: 0px;
	padding-right: 20px;
	float: right;
}
.widget .widget-title:before {
	right: 0;
	left: auto;
}
.topbar-link-wrapper {
	left: 0;
	text-align: right;
	right: auto;
}
.woocommerce div.product div.summary, .woocommerce-page div.product div.summary{border-left:none;}
@media only screen and (min-width: 1401px) and (max-width: 1680px) {
.middle-container.single-border {
    background-position: 764px 0 !important;
}
.woocommerce-page div.product .woocommerce-tabs .middle-container {
    background-position: 1071px 0 !important;
}
}
@media only screen and (min-width: 1201px) and (max-width: 1400px) {
.middle-container.single-border {
    background-position: 638px 0 !important;
}
.woocommerce-page div.product .woocommerce-tabs .middle-container {
    background-position: 895px 0 !important;
}
}
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
.middle-container.single-border {
    background-position: 553px 0 !important;
}
.woocommerce-page div.product .woocommerce-tabs .middle-container {
    background-position: 775px 0 !important;
}
}
@media only screen and (min-width: 980px) and (max-width: 1023px) {
.woocommerce-page div.product .woocommerce-tabs .middle-container {
    background-position: 739px 0 !important;
}
}
@media only screen and (max-width: 1200px) { 
	.header-center {  float: left!important; }
}
@media only screen and (min-width: 980px) and (max-width: 1200px) {
	.service-list .content {
		padding-right: 0 !important;
	}
}
@media only screen and (max-width: 979px) {
	.first-widget,
	.second-widget,
	.site-footer .widget_newsletterwidget .title-outer .widget-title {
		text-align: right!important;
	}
	.woocommerce-page div.product .woocommerce-tabs .middle-container {
    background-position: 586px 0!important;
}
	.singleproduct-sidebar {
		float: right!important;
	}
	.title-outer:before,
	.toggled-off .title-outer:before {
		right: auto!important;
		left: 0;
	}
	.contact_wrapper {
		display: inline-block;
		padding: 0 20px;
	}
	.contact_email a:before {
		position: relative !important;
	}
}
@media only screen and (max-width: 767px) {
.woocommerce table.shop_table_responsive tr td:before, .woocommerce-page table.shop_table_responsive tr td:before{float: right!important;}
.woocommerce table.shop_table_responsive tr td, .woocommerce-page table.shop_table_responsive tr td{ text-align:left!important;}
	.nav-top {
		display: block;
		float: right !important;
	}
	.menu-toggle {
		text-align: right !important;
	}
	.header_login,
	.header-menu-links {
		float: right !important;
	}
	.navigation-bar.active .mobile-menu {
		transform: translateX(0%)!important;
		-webkit-transform: translateX(0%)!important;
		-o-transform: translateX(0%)!important;
		-ms-transform: translateX(0%)!important;
	}
}
@media only screen and (max-width: 479px) {
	.address-text .icon {
		border-width: 0 0 1px !important;
	}
	.header-cart .togg .widget.widget_shopping_cart {
		left: -5px;
		right: auto !important;
	}

}