#tmpmela-control-panel {
    left: -250px;
    padding-bottom: 12px;
    position: fixed;
    top: 37px;
    width: 250px;
    z-index: 9999;
	background: none repeat scroll 0 0 #FFFFFF;
}
#tmpmela-panel-container {
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #B9C1CB #B9C1CB #B9C1CB -moz-use-text-color;
    border-image: none;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
    padding: 7px 0 0;
}
.tmpmela-panel-bg {
    background: none repeat scroll 0 0 #FFFFFF;
    overflow: hidden;
    padding-bottom: 5px;
}
#tmpmela-panel-switch {
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../../images/megnor/colorpicker/tools_icon.jpg") no-repeat scroll center center #FFFFFF;
    border-color: #B9C1CB #B9C1CB #B9C1CB #FFFFFF;
    border-image: none;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
    display: block;
    height: 38px;
    padding: 5px 8px;
    position: absolute;
    right: -47px;
    top: 20px;
    width: 31px;
}
#tmpmela-panel-inner {
    padding: 0 8px 3px 5px;
}
#tmpmela-control-panel .tmpmela-panel-block {
    border-bottom: 1px solid #AEAEAE;
    overflow: hidden;
    padding: 10px 0 10px 5px;
    line-height: 25px;
}
#tmpmela-control-panel .tmpmela-panel-title {
    color: #333333;
    float: left;
    font-family: arial;
    font-size: 12px;
    font-weight: normal;
    text-transform: capitalize;
    width: 80px;
    line-height: 18px;
    margin-top: 5px;
}
#tmpmela-control-panel p {
    font-style: italic;
    font-family: Georgia, serif;
    font-size: 10px;
    margin: 0;
}
.tmpmela-panel-item {
    border: 1px solid #AAAAAA;
    display: block;
    float: left;
    height: 27px;
    margin: 0 4px 4px 0;
    text-indent: -9999px;
    width: 27px;
}
.tmpmela-panel-colorpicker {
   cursor: pointer;
    float: right;
    height: 18px;
    left: -7px;
    position: relative;
    top: 4px;
    width: 18px;
}
.tmpmela-item{
    background: none;
    cursor: pointer;
    height: 18px;
    left: 1px;
    position: absolute;
    text-indent: -999em;
    top: 1px;
    width: 18px;
}
.tmpmela-panel-bg span.customSelect{
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow:none;
	padding: 1px 5px;
}
#tmpmela-bkg-texture1 {
    background: url("../../images/megnor/colorpicker/pattern/body-bg1.png");
}
#tmpmela-bkg-texture2 {
    background: url("../../images/megnor/colorpicker/pattern/body-bg2.png");
}
#tmpmela-bkg-texture3 {
    background: url("../../images/megnor/colorpicker/pattern/body-bg3.png");
}
#tmpmela-bkg-texture4 {
    background: url("../../images/megnor/colorpicker/pattern/body-bg4.png");
}
#tmpmela-bkg-texture5 {
    background: url("../../images/megnor/colorpicker/pattern/body-bg5.png");
}
#tmpmela-bkg-texture6 {
    background: url("../../images/megnor/colorpicker/pattern/body-bg6.png");
}
#tmpmela-bkg-texture7 {
    background: url("../../images/megnor/colorpicker/pattern/body-bg7.png");
}
#tmpmela-bkg-texture8 {
    background: url("../../images/megnor/colorpicker/pattern/body-bg8.png");
}
#tmpmela-bkg-texture9 {
    background: url("../../images/megnor/colorpicker/pattern/body-bg9.png");
}
#tmpmela-bkg-texture10 {
    background: url("../../images/megnor/colorpicker/pattern/body-bg10.png");
}
#tmpmela-bkg-texture11 {
    background: url("../../images/megnor/colorpicker/pattern/body-bg11.png");
}
#tmpmela-bkg-texture12 {
    background: url("../../images/megnor/colorpicker/pattern/body-bg12.png");
}
#tmpmela-bkg-texture13 {
    background: url("../../images/megnor/colorpicker/pattern/body-bg13.png");
}
#tmpmela-bkg-texture14 {
    background: url("../../images/megnor/colorpicker/pattern/body-bg14.png");
}
#tmpmela-bkg-texture15 {
    background: url("../../images/megnor/colorpicker/pattern/body-bg15.png");
}
#tmpmela-bkg-texture16 {
    background: url("../../images/megnor/colorpicker/pattern/body-bg16.png");
}
#tmpmela-bkg-texture17 {
    background: url("../../images/megnor/colorpicker/pattern/body-bg17.png");
}
#tmpmela-bkg-texture18 {
    background: url("../../images/megnor/colorpicker/pattern/body-bg18.png");
}
.colorpicker {
    width: 356px;
    height: 176px;
    overflow: hidden;
    position: absolute;
    background: url("../../images/megnor/colorpicker/colorpicker_background.png");
    font-family: Arial, Helvetica, sans-serif;
    display: none;
    z-index: 10000;
}
.colorpicker_color {
    width: 150px;
    height: 150px;
    left: 14px;
    top: 13px;
    position: absolute;
    background: #f00;
    overflow: hidden;
    cursor: crosshair;
}
.colorpicker_color div {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    background: url("../../images/megnor/colorpicker/colorpicker_overlay.png");
}
.colorpicker_color div div {
    position: absolute;
    top: 0;
    left: 0;
    width: 11px;
    height: 11px;
    overflow: hidden;
    background: url("../../images/megnor/colorpicker/colorpicker_select.gif");
    margin: -5px 0 0 -5px;
}
.colorpicker_hue {
    position: absolute;
    top: 13px;
    left: 171px;
    width: 35px;
    height: 150px;
    cursor: n-resize;
}
.colorpicker_hue div {
    position: absolute;
    width: 35px;
    height: 9px;
    overflow: hidden;
    background: url("../../images/megnor/colorpicker/colorpicker_indic.gif") left top;
    margin: -4px 0 0 0;
    left: 0px;
}
.colorpicker_new_color {
    position: absolute;
    width: 60px;
    height: 30px;
    left: 213px;
    top: 13px;
    background: #f00;
}
.colorpicker_current_color {
    position: absolute;
    width: 60px;
    height: 30px;
    left: 283px;
    top: 13px;
    background: #f00;
}
.colorpicker input {
    background-color: transparent;
    border: 1px solid transparent;
    position: absolute;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #898989;
    top: 4px;
    right: 11px;
    text-align: right;
    margin: 0;
    padding: 0;
    height: 11px;
}
.colorpicker_hex {
    position: absolute;
    width: 72px;
    height: 22px;
    background: url("../../images/megnor/colorpicker/colorpicker_hex.png") top;
    left: 212px;
    top: 142px;
}
.colorpicker_hex input {
    right: 6px;
}
.colorpicker_field {
    height: 22px;
    width: 62px;
    background-position: top;
    position: absolute;
}
.colorpicker_field span {
    position: absolute;
    width: 12px;
    height: 22px;
    overflow: hidden;
    top: 0;
    right: 0;
    cursor: n-resize;
}
.colorpicker_rgb_r {
    background-image: url("../../images/megnor/colorpicker/colorpicker_rgb_r.png");
    top: 52px;
    left: 212px;
}
.colorpicker_rgb_g {
    background-image: url("../../images/megnor/colorpicker/colorpicker_rgb_g.png");
    top: 82px;
    left: 212px;
}
.colorpicker_rgb_b {
    background-image: url("../../images/megnor/colorpicker/colorpicker_rgb_b.png");
    top: 112px;
    left: 212px;
}
.colorpicker_hsb_h {
    background-image: url("../../images/megnor/colorpicker/colorpicker_hsb_h.png");
    top: 52px;
    left: 282px;
}
.colorpicker_hsb_s {
    background-image: url("../../images/megnor/colorpicker/colorpicker_hsb_s.png");
    top: 82px;
    left: 282px;
}
.colorpicker_hsb_b {
    background-image: url("../../images/megnor/colorpicker/colorpicker_hsb_b.png");
    top: 112px;
    left: 282px;
}
.colorpicker_submit {
    position: absolute;
    width: 22px;
    height: 22px;
    background: url("../../images/megnor/colorpicker/colorpicker_submit.png") top;
    left: 322px;
    top: 142px;
    overflow: hidden;
}
.colorpicker_focus {
    background-position: center;
}
.colorpicker_hex.colorpicker_focus {
    background-position: bottom;
}
.colorpicker_submit.colorpicker_focus {
    background-position: bottom;
}
.colorpicker_slider {
    background-position: bottom;
}
.panel-over {
}
.tmpmela-block-right {
    background: none repeat scroll 0 0 transparent !important;
    float: left;
    padding: 0 !important;
    text-align: right;
    border-bottom: none !important;
    width: 49%;
}
.tmpmela-block-left {
    background: none repeat scroll 0 0 transparent !important;
    float: right;
    padding: 0 !important;
    text-align: left;
    border-bottom: none !important;
    width: 49%;
}
.apply, .panel-over .reset {
    background: url("images/applly.png") no-repeat scroll 11px 11px #993333;
    cursor: pointer;
    font-weight: 600;
    height: 33px;
    padding: 0;
    width: 93px;
    border: medium none;
    border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
    color: #FFFFFF;
    box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow:none;
}
.apply:hover, .panel-over .reset:hover {
    background: url("images/applly.png") no-repeat scroll 11px 11px #BCBCBC;
    border: medium none;
    border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
    box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow:none;
    text-shadow: none;
}
.panel-over button {
    border: medium none;
    color: #333333;
    font-family: arial;
    font-weight: 600;
    padding: 10px 30px;
    text-transform: capitalize;
}
.tmpmela-panel-title-back {
    color: #000;
    float: left;
    font-family: arial;
    font-size: 12px;
    line-height: 25px;
    font-weight: normal;
    text-transform: capitalize;
    width: 170px;
}
.tmpmela-panel-title-text {
    color: #006699;
    float: left;
    font-family: arial;
    font-size: 12px;
    font-weight: normal;
    padding-bottom: 11px;
    text-transform: capitalize;
    width: 170px;
}
.tmpmela-panel-title-main .main-title {
    background-image: url("../../images/megnor/colorpicker/theme_settings.png");
    background-position: 3px 6px;
    background-repeat: no-repeat;
    color: #000000;
    font-family: arial;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 6px;
    padding: 10px 10px 8px 40px;
}
.tmpmela-panel-title-main {
    background-position: left center;
    background-repeat: repeat-x;
    margin-bottom: 3px;
    padding: 14px 10px 14px 4px;
}
#panel_form select{
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
	-webkit-border-radius:  5px 5px 5px 5px;
	-moz-border-radius:  5px 5px 5px 5px;

    color: #B7B7B7;
    font-family: sans-serif,'Liberation Sans',FreeSans,Helvetica;
    font-size: 13px;
    height: auto;
    outline: 0 none;
    padding: 5px;
	border: 1px solid #AAAAAA;
}
#panel_form select:focus{
	box-shadow: 0 0 3px #BBBBBB;
	-moz-box-shadow:0 0 3px #BBBBBB;
	-webkit-box-shadow:0 0 3px #BBBBBB;
}
.tmpmela-panel-title-text-back {
    width: 200px;
    color: #333333;
    float: left;
    font-family: arial;
    font-size: 12px;
    font-weight: normal;
    padding-bottom: 5px;
	-webkit-border-radius:  5px;
	-moz-border-radius:  5px;
    text-transform: capitalize;
}
.more-set {
    background: #fff;
    border: 1px solid #aeaeae;
    border-radius: 5px;
	-webkit-border-radius:  5px;
	-moz-border-radius:  5px;
    text-align: center;
    padding: 5px;
    margin: 5px 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000 !important;
}
.more-set a{ text-decoration: none;}
#tmpmela-panel-container button, #tmpmela-panel-container input, #tmpmela-panel-container textarea {
    padding: 0;
}
#tmpmela-panel-container .clear {
    margin: 0;
}