

#wpfooter{position: fixed !important;}
table.byp-group-button-sett {width: 100%;max-width: 100% !important;overflow: auto;display: block;max-height: 474px;}
.form-table.byp-group-button-sett th,.form-table.byp-group-button-sett td{border:1px solid #ddd;vertical-align: middle;color:#212529;    text-align: center;    text-shadow: none;}
.form-table.byp-group-button-sett th{background-color: #d3d8de;font-weight: bold;}
.byp-pixelate-title{font-size: 24px;padding: 15px 0;font-weight: bold;}
.form-table.byp-group-button-sett td.check-grayscale{text-align: left;}

table.byp-border-table {width: 100%;max-width: 100% !important;display: block;    border-collapse: collapse;}
table.byp-border-table th,table.byp-border-table td{border:1px solid #ddd;vertical-align: middle;color:#212529;    text-align: center;    text-shadow: none;    padding: 10px;}
table.byp-border-table th{background-color: #d3d8de;font-weight: bold;}

.btn-save-chnages{display: block;width: 100%;text-align: left;float: left;margin: 15px 0;}
.wp-core-ui .btn-save-chnages .button, .wp-core-ui .btn-save-chnages .button-primary{float: left;}

.byp_50{min-width: 35px;}
.byp_51{min-width: 25px;}
.byp_max_50{max-width: 34px;}
.byp_52{min-width: 51px;}
.byp_71{min-width: 70px;}
.byp_80{min-width: 80px;}
.byp_visual_div{ min-width: 50px;height: 23px;border: 1px solid #4c4646;}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; -moz-appearance: none;appearance: none;margin: 0; }


#menu-posts-pixelate ul .wp-submenu-head,#menu-posts-pixelate ul li:nth-child(-n+3) {display: none;}