/*
Theme Name: Template Mela
Description: Used to style the TinyMCE editor.
*/
.clear{clear: both;}
#upload-btn, #glry_upload_btn, #insert-media-button, #profileimage, .paoc-popup.popupaoc-link{/*background: #fff;*/color: #447de4;padding:0;font-size: 16px;display: inline-block;font-weight: 500;cursor: pointer;}
.upload-btn{width: 100%;height: 100%;position: absolute;text-align: center;margin: 0 auto;opacity: 0;    padding: 0;    cursor: pointer;}
.file-uploard{position: relative;width: 243px; height: 58px;    margin: 0 auto;}
.start-btn-section{display:block;text-align:center;margin:50px 0  00 ;    cursor: pointer;}
.btn-start{border:2px solid  rgb(102, 102, 102);color: rgb(102, 102, 102);background-color: transparent;padding-top: 17px;padding-bottom: 17px;padding-left: 24px;padding-right: 24px;font-size: 18px;border-radius: 5px;}
.upload-file-section{display: -ms-flexbox;display: flex;-ms-flex-direction: row;flex-direction: row;   -ms-flex-pack: justify;justify-content: space-between;}


.uploadtxt h5{margin:5px; font-size: 16px;font-weight: 600;color:#303030;}
.upload-files-box{position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto;    height: 166px;}
.upload-container{width: 1050px;}
.uploadtxt{ background: #fff;  border:2px dashed #cecece; border-radius: 15px;width: 348px;height: 218px;position: absolute;top:0;left: 0;right: 0;bottom: 0;margin:auto;color:#303030;font-weight: 600;text-align: center;}
.choose-your-photo{background: url(../images/choose-your-photo.png); background: url(../images/file-upload-bg.png); width: 243px; height: 58px; background-size: cover;    background-size: 100% 230px;cursor: pointer;}
.select-from-gallery, .paoc-popup.popupaoc-link {display: block;font-size: 0;background: url(../images/file-upload-bg.png); width: 243px !important; height: 58px !important; background-size: cover;  background-position: 0 -117px !important; cursor: pointer;}
.file-uploard:hover .choose-your-photo{background-position: 0 -57px}
.file-uploard:hover .select-from-gallery,.file-uploard:hover .paoc-popup.popupaoc-link{background-position: 0 -175px !important;}
.image-editors1{padding-bottom: 40px;    position: relative;}
.page-template-img-edit-html .main-content-inner{width: 100%;}



input[type=file] {display: block;}
.sidebar-editors{position: relative;width: 100%;box-sizing: border-box;-ms-flex-pack: justify;justify-content: space-between;-ms-flex-direction: row;flex-direction: row;display: -ms-flexbox;display: flex;    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.08);-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);background: #fff;padding: 20px;border-radius: 6px;}
.editable-listing {color:#fff;    margin: 0 0 10px 0;width: 24%; }
.editable-listing span{color:#000;padding:10px 0 0 0; background: #f8f8f8;border-radius: 4px 4px 0 0 ;padding: 5px 10px; font-size: 16px; font-weight: 600;    border: 1px solid #e6e6e6;
    border-bottom: 0;    display: inline-block; }
.editable-listing span img{margin-right: 6px;}
.cropping .scroll{max-height: 80px;}
.crop_ratio_list{padding:0 3px;box-sizing: border-box;}
.ractangle{border:1px solid #b8b8b8;margin:0 auto;    box-sizing: border-box;    position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto;}
.sel_pixel{border: 1px solid #c72329;    background: #c72329;}
.editable-listing ul{margin:0;display: -ms-flexbox;display: flex;-ms-flex-direction: row;flex-direction: row; -ms-flex-align: center;    align-items: center;    -ms-flex-wrap: wrap;flex-wrap: wrap;    width: 100%;}
.editable-listing ul li{cursor: pointer;list-style: none;width: 20%;margin: 0;text-align: center;position: relative;}
.editable-listing ul li label{text-align: center;color: #da8e41;   width: 58px; margin: 0 auto;}
.range input{width: 100%;    padding: 8px 0;  margin:0;}
.mCSB_inside > .mCSB_container {margin-right: 10px !important;}
.mCSB_scrollTools{width: 10px !important;}
.editable-listing ul li.active label{color:#c72329;}
.editable-listing ul li.active .ractangle{background: #c72329;border:1px solid #c72329;}
.crop-btn{width: 65px; text-align: right;    padding: 33px 0 0 0}
.crop-btn button{border-radius: 5px;padding:10px 15px;    border: 1px solid #e6e6e6; border-top: 0;}
.crop-box{ width: 58px; height: 58px;display: block;background: #fff;position: relative; margin:0 auto;    box-sizing: border-box;}
.crop-data{display: -ms-flexbox;display: flex;background: #f8f8f8; -ms-flex-pack: justify;justify-content: space-between;padding:10px 0px 8px;    border-radius: 0 5px 5px 5px;    border: 1px solid #e6e6e6; margin-top: -1px; }
.selected-crop  .crop-box{border:1px solid #cb2f36;}
.selected-crop .ractangle{background: #cb2f36;border:1px solid #cb2f36;}
.editable-listing ul li.selected-crop label{background: #da8e41;color:#fff;display: block;}


.effect-box{width: 100%;background: #f8f8f8;    padding: 0  5px;    box-sizing: border-box;    height: 100px;    border-radius: 0 5px 5px 5px;border: 1px solid #e6e6e6; margin-top: -1px;}
.effect-box-effect{display: -ms-flexbox;display: flex;-ms-flex-align: center;align-items: center;padding: 4px 0 0 0;}
.effect-box-effect label{color:#000000;font-size: 13px;font-weight: normal;width: 70px;    padding:4px 5px 4px 5px;letter-spacing: 0;line-height: normal;}
.effect-box-effect strong{color:#000000;font-size: 13px;font-weight: normal;letter-spacing: 0;width: 35px;text-align: center;}
.effect-box-effect .range{width:calc(100% - 110px);-webkit-width:calc(100% - 110px);-moz-width:calc(100% - 110px);-o-width:calc(100% - 110px);-ms-width:calc(100% - 110px);  }
.effect-box-effect .range-custom {padding: 0;-webkit-appearance: none;width: 100%;height:3px;background-image: linear-gradient(to right, #e2e2e2, #8d8d8d);outline: none;-webkit-transition: .2s;transition: .2s;border:0;}
.effect-box-effect .range-custom:focus{border:0px;}
.effect-box-effect .range-custom::-webkit-slider-thumb {-webkit-appearance: none;appearance: none;width: 12px;height: 12px;background: #000;cursor: pointer;border-radius: 100%;border:2px solid #fff;box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.46); -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.46);-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.46); }
.effect-box-effect .range-custom::-moz-range-thumb {-moz-appearance: none;appearance: none;width: 12px;height: 12px;background: #000;cursor: pointer;border-radius: 100%;border:2px solid #fff;box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.46); -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.46);-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.46);}

.editable-brightness .range-custom::-webkit-slider-thumb{background: #cb2f36}
.editable-brightness .range-custom::-moz-range-thumb {background: #cb2f36}
.editable-contrest .range-custom::-webkit-slider-thumb{background: #da8e41}
.editable-contrest .range-custom::-moz-range-thumb {background: #da8e41}
.editable-saturation .range-custom::-webkit-slider-thumb {background: #435b32}
.editable-saturation .range-custom::-moz-range-thumb {background: #435b32}

.rotate-box{width: 100px;}
.transform-box .rotate-box{width: 100px;}
.transform-box .grayscale-box{width: 110px; padding: 20px 0 0 0;}
.transform-box label{color:#000000;font-size: 13px;font-weight: normal;width: 65px;   padding: 0; letter-spacing: 0;line-height: normal;    line-height: 40px;}
.rotate-btn{display: -ms-flexbox;display: flex;-ms-flex-direction: row;flex-direction: row;-ms-flex-align: center;align-items: center;    margin-top: 5px;}
.rotate-btn label{font-size: 16px;}
.editable-transform .rotate-btn button{width: 38px;height: 38px; margin:0 5px 0 0;border-radius: 5px;    padding: 0px;    font-size: 16px;text-align: center;    margin-right: 7px;border: 1px solid #000;background: transparent;color: #000;position: relative;}
.editable-transform .rotate-btn button:hover{border:1px solid #cb2f36;}
.editable-transform .rotate-btn button img{max-width: 20px;max-height: 20px;line-height: 40px;text-align: center;position: absolute;top: 0;right: 0;bottom: 0;left: 0;margin: auto;}
.editable-transform .flip-btn button img{max-width: 20px;max-height: 20px;line-height: 40px;text-align: center;position: absolute;top: 0;right: 0;bottom: 0;left: 0;margin: auto;}
.editable-transform .flip-btn button:hover{border:1px solid #cb2f36;}
.Pixalet-box{display: -ms-flexbox;display: flex;-ms-flex-direction: row;flex-direction: row;-ms-flex-align: center;align-items: center; -ms-flex-align: end;align-items: flex-end;background: #f8f8f8;box-sizing: border-box;padding:18px 15px;height: 100px;border-radius: 0 5px 5px 5px;}
.transform-box{display: -ms-flexbox;display: flex;-ms-flex-direction: row;flex-direction: row;-ms-flex-pack: justify; justify-content: space-between; background: #f8f8f8;box-sizing: border-box; padding: 0 10px;height: 100px;    border-radius: 0 5px 5px 5px;border: 1px solid #e6e6e6; margin-top: -1px;}
.editable-transform button.btn-grayscale{border-radius: 5px;    padding: 11px 15px;}
.transform-box > div{width:33%;}
.editable-transform{    width: 310px}
.editable-effect{width: 342px;}
.editable-crop{width:325px;}
.process-work-image label,.process-output-image label{display: block;width: 100%;}
.editable-pixalet button{width: 100%;margin:10px 0 0 0;border-radius: 5px;     padding: 11px 15px;   font-size: 12px;}
.editable-pixalet button:hover,.editable-pixalet button:focus{background-color: #000;outline: none;}
.editable-output{width: 100%; padding:20px 0; box-sizing: border-box; display: flex;-ms-flex-direction: row;flex-direction: row;-ms-flex-pack: center;justify-content: center;-ms-flex-wrap: wrap;flex-wrap: wrap;-ms-flex-pack: justify;justify-content: space-between;box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.08);-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08); background: #fff;padding: 20px;border-radius: 6px;margin-bottom: 25px;}
.process-work-image {width: 100%; overflow: hidden; height: 290px;display: -ms-flexbox;display: flex;-ms-flex-direction: row;flex-direction: row;-ms-flex-align: center;align-items: center;-ms-flex-pack: center; justify-content: center;        border: 2px dashed #cecece;    box-sizing: border-box; background: #f9f9f9;position: relative;}
.process-work-image  img{width: auto; height: auto; max-width: 100%; max-height: 287px;}
.process-output-image{width: 100%; height: 290px;display: -ms-flexbox;display: flex;-ms-flex-direction: row;flex-direction: row;-ms-flex-align: center;align-items: center;-ms-flex-pack: center;justify-content: center;    border: 2px dashed #cecece;    box-sizing: border-box;background: #f9f9f9; position: relative;}
.process-output-image  img{width: auto; height: auto; max-width: 100%; max-height: 290px;}

.submit-button{ margin: 35px 0 0 0;display: -ms-flexbox;display: flex;-ms-flex-direction: row;flex-direction: row;-ms-flex-pack: center;justify-content: center;-ms-flex-align: center;align-items: center;-ms-flex-wrap: wrap;flex-wrap: wrap;}
.submit-button button{margin: 0 0 10px 0;border-radius: 5px;padding: 10px 0;font-size: 12px;text-align: center;width: 100%;}
.orignal-iamge{width: 49%;    position: relative;}
.preview-image{width: 49%;    position: relative;}
.output-image-box{width: calc(100% - 130px);-webkit-width: calc(100% - 130px);-moz-width: calc(100% - 130px);-o-width: calc(100% - 130px);-ms-width: calc(100% - 130px); display: flex;-ms-flex-direction: row;flex-direction: row;-ms-flex-pack: center;justify-content: center; -ms-flex-pack: justify;justify-content: space-between  }
.output-buttons{width:110px;}
.orignal-iamge label,.preview-image label{width: 100%;display: block;text-align: center;font-size:16px;color:#000; margin-bottom: 15px;}
.btn-price{    background: #4c4848 !important;box-shadow: 0px 4px 0px 0px rgba(42, 41, 41, 1) !important;-webkit-box-shadow: 0px 4px 0px rgba(42, 41, 41, 1) !important;width: 110px !important;height: 38px;line-height: 38px; padding: 0 !important;line-height: 42px;color: #fff;text-align: center;border-radius: 6px;margin-bottom: 15px;    font-size: 15px}

.btn-add-order{    background: #c72329 !important;box-shadow: 0px 4px 0px 0px rgba(137, 21, 25, 1) !important;-webkit-box-shadow: 0px 4px 0px rgba(137, 21, 25, 1) !important;width: 110px !important;height: 50px; padding: 0 !important;line-height: 18px;  font-size: 12px !important;letter-spacing: 0;}
.btn-add-order:hover{background: #4c4848 !important;
    box-shadow: 0px 4px 0px 0px rgba(42, 41, 41, 1) !important;
    -webkit-box-shadow: 0px 4px 0px rgba(42, 41, 41, 1) !important;}
.btn-price:hover{background: #4c4848;}
.upload-image1{background: #f1f3f6;}
.upload-heading-txt {text-align: center; padding: 20px 0;}


.transform-box .radio-custom {display: block;position: relative;padding-left: 30px;margin:0 0 15px 0;cursor: pointer;line-height: 20px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;width: auto;}
.transform-box .radio-custom input {position: absolute;opacity: 0;cursor: pointer;}
.transform-box .checkmark {position: absolute;top: 0;left: 0;height: 20px;width: 20px;background-color: #eee;border-radius: 50%;    padding: 0;    border: 2px solid #da8e41;    box-sizing: border-box;}
/*.transform-box .radio-custom input:checked ~ .checkmark {background-color: #2196F3;}*/
.transform-box .checkmark:after {content: "";position: absolute;display: none;}
.transform-box .radio-custom input:checked ~ .checkmark:after {display: block;}
.transform-box .radio-custom .checkmark:after { top: 50%;left: 50%;width: 8px;height: 8px;border-radius: 50%;background: #da8e41;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);-moz-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);}
.start-over-section{position: absolute;right: 0;top:0;}
.start-over{background: transparent;width: 132px;height: 28px;border:1px solid #cb2f36;padding:  0;line-height: 28px;border-radius: 5px;color: #cb2f36;}
.start-over i.fa{width: 28px;text-align: center;background: #cb2f36;float: left;height: 100%;color: #fff;    line-height: 25px;    margin-right: 0;}
.start-over span{float: left;line-height: 25px;color: #cb2f36;text-transform: capitalize;letter-spacing: 0;padding: 0 4px;}
.start-over:hover i.fa{background: #4c4848;}
.start-over:hover  {border: 1px solid #4c4848;}
.start-over:hover span{color: #4c4848;}
button.start-over:hover, button.start-over:focus,button.start-over:active{background: transparent;}
.generated-preview{width: auto;}
.btn-reset{background: #da8e41;color:#fff;border-radius: 5px;width: 28px;height: 28px;text-align: center;line-height: 25px;padding: 0;    margin-left: 5px;}
.btn-reset i.fa{margin-right: 0;}
button.btn-reset:hover, button.btn-reset:focus,button.btn-reset:active{background: #cb2f36;}
button:focus{outline: none;}
/* edit by me*/
.process-output-image canvas{ max-width: 100%; max-height: 285px;}
.byp_no_click{cursor: not-allowed !important;}
.byp_no_click li{pointer-events: none;}

.byp_no_click input[type="radio"]{ pointer-events: none;}
/* model css*/
.modal {display: none; position: fixed; z-index: 1; padding-top: 100px;left: 0;top: 0;width: 100%;height: 100%; overflow: auto;background-color: rgba(0,0,0,0.4);}
.modal-img {display: none; position: fixed; z-index: 1;padding-top: 55px; left: 0;top: 0;width: 100%; height: 100%; overflow: auto; background-color: rgba(0,0,0,0.4);}
.modal-content {background-color: #fefefe;margin: auto;padding: 28px;border: 1px solid #888;width: 14%;position: relative;}
.modal-content-img {background-color: #fefefe;margin: auto;padding: 28px;border: 1px solid #888;width: 14%;position: relative;}
.modal-content p{ margin-bottom: 0px;color: #da8e41;text-align: center;}
.close {color: #da8e41 !important;float: right;font-size: 25px;font-weight: bold;position: absolute;top: 4px;right: 6px;}
.close:hover,
.close:focus {color: #000;text-decoration: none;cursor: pointer;}
#bypmodal_img .modal-content-img {width: 100%; max-width: 800px;     margin-left: 241px;}
.byp-portfolio-filter .byp-portfolio-active{display: block;opacity: 1;-webkit-transform: scale(1);transform: scale(1);-webkit-animation: byp-postfolio-anim 0.9s ease-in-out;animation: byp-postfolio-anim 0.9s ease-in-out;}
.byp-portfolio-wrp{display: none;}
.byp-checked:after {color: #f7931d;font-family: fontawesome;font-size: 35px;position: absolute;left: 0;right: 0;margin: 0 auto;top: 26%;content: "\f058";text-align: center;font-weight: 800;} 
.custombox-content.custombox-x-center {-ms-flex-align: start!important;align-items: flex-start!important;}
.paoc-popup-modal{margin-top: 100px !important; }
button.btn-add-order.dis-atc {background: #4c4848 !important;box-shadow: 0px 4px 0px 0px rgba(42, 41, 41, 1) !important;-webkit-box-shadow: 0px 4px 0px rgba(42, 41, 41, 1) !important;}
.byp-overlay{position: absolute;top: 0;left: 0;height: 100%;width: 100%;z-index: 10;background-color: rgba(0,0,0,0.5);display: none;}



@media screen and (min-width: 1100px) and (max-width: 1680px){
	.middle-container.upload-container {width: 1050px;}
}

@media screen and (min-width: 1024px)  and (max-width: 1199px){
	.editable-effect {width: 270px;}
}
@media screen and (min-width: 768px)  and (max-width: 1023px){
	.editable-output{padding: 10px;}
	.orignal-iamge label, .preview-image label{text-align: left;}
	.sidebar-editors{-ms-flex-wrap: wrap!important;flex-wrap: wrap!important;}
	.file-uploard{width: 170px;height: 40px;}
	.choose-your-photo{width: 100%; height: 39px;    background-size: 100% 155px;}
	.file-uploard:hover .choose-your-photo {background-position: 0 -39px;}
	.select-from-gallery, .paoc-popup.popupaoc-link{width: 100% !important;height: 41px !important;background-position: 0 -81px !important;}
	.file-uploard:hover .select-from-gallery, .file-uploard:hover .paoc-popup.popupaoc-link {background-position: 0 -122px !important;}
	.upload-files-box{height: 134px;}
	.uploadtxt{width: 85%;}
	.editable-listing{width: 48% !important;}

}
@media screen and (max-width: 767px) {
	.sidebar-editors{-ms-flex-wrap: wrap!important;flex-wrap: wrap!important;}
	.editable-output{padding: 15px;-ms-flex-wrap: wrap!important;flex-wrap: wrap!important;}
	.output-image-box{width: 100%;-ms-flex-wrap: wrap!important;flex-wrap: wrap!important;}
	.output-buttons{width: 100%;}
	.orignal-iamge,.preview-image{width: 100%;}
	.preview-image{margin-top: 15px;}	
	.submit-button {margin: 25px 0 0 0;}
	.submit-button button {margin: 0 0 15px 10px;}
	.btn-price{margin-right: 10px;}
	.add_effect{display: block;}	
	.process-output-image canvas {max-height: 100%;}
	.editable-listing{width: 100% !important;}
	

@media screen and (max-width: 450px) {
	.uploadtxt{width: calc(100% - 50px);width: -webkit-calc(100% - 50px);width: -moz-calc(100% - 50px);width: -ms-calc(100% - 50px);}
	.orignal-iamge label, .preview-image label{text-align: left;}
}
@media screen and (max-width: 400px) {
	.editable-listing ul{-ms-flex-wrap: wrap!important;flex-wrap: wrap!important;}
	.editable-listing ul li{width: 33.33%;}
	.transform-box{-ms-flex-wrap: wrap!important;flex-wrap: wrap!important;    height: 180px}
	.transform-box .grayscale-box{width: 100%;}
	.transform-box .rotate-box{width: 50%;}

}
@media screen and (max-width: 380px) {
	.file-uploard{width: 170px;height: 40px;}
	.choose-your-photo{width: 100%; height: 39px;    background-size: 100% 155px;}
	.file-uploard:hover .choose-your-photo {background-position: 0 -39px;}
	.select-from-gallery, .paoc-popup.popupaoc-link{width: 100% !important;height: 41px !important;background-position: 0 -81px !important;}
	.file-uploard:hover .select-from-gallery, .file-uploard:hover .paoc-popup.popupaoc-link {background-position: 0 -122px !important;}
	.upload-files-box{height: 134px;}
}